* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
}


body {
  margin: 0;
  padding: 100px 0;
  color: rgb(126, 154, 186);
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5482dd;
}

button {
  background-color: rgb(56, 184, 98);
  font-size: 1.4rem;
  border-radius: 2px;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  padding: 10px 20px;
}