.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

nav {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	padding: 10px 0;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
	z-index: 1;
}


.link {
	text-align: right;
	text-decoration: none;
	color: rgb(52, 52, 136);
	font-weight: bold;
	font-size: 2rem;
	text-shadow: 0 0 2px 0 black;
}

.header img {
	width: 30px;
	height: auto;
	margin-right: 10px;
}

.nav-box {
	width: 200px;
	height: 80px;
	align-content: flex-end;
	justify-content: flex-end;
	background-color: tomato;
	background-size: cover;
	background-position-y: -45px;
	background-position-x: -30px;
	margin: 0 5px;
	padding: 0 10px;
	color: whitesmoke;
	font-size: 20px;
	-webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
	transition: transform .2s;
}

.nav-box:hover {
  transform: scale(1.05);
}

.nav-style .home {
	background-color: rgb(101, 101, 207);
	background-image: url('/images/navbar/home.png');
}

.nav-style .shop {
	background-position-y: -49px;
	background-color: rgb(44, 182, 101);
	background-image: url('/images/navbar/shop.png');
}

.nav-style .market {
	background-position-y: -48px;
	background-color: rgb(140, 63, 175);
	background-image: url('/images/navbar/market.png');
}

.nav-style .aboutus {
	background-color: rgb(220, 230, 90);
	background-image: url('/images/navbar/aboutus.png');
}

.nav-style .user {
	background-image: url('/images/navbar/user.png');
}

.nav-style .signup {
	background-color: rgb(220, 230, 90);
	background-image: url('/images/navbar/signup.png');
}

.nav-style .login {
	background-color: rgb(90, 179, 230);
	background-image: url('/images/navbar/login.png');
}


.searchBar {
	margin: 10px;
	margin-right: 70px;
	margin-bottom: 0;
}

.searchBar input {
	width: 60vw;
	padding: 10px 20px;
	background-color: #19202e;
	border: none;
	color: white;
	font-size: 1.6rem;
}

.searchBar input::placeholder {
	color: rgba(255, 255, 255, 0.4);
	font-size: 1.6rem;
}